<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <link rel='stylesheet' href='/stylesheets/visual.css' />
  </head>
  <body>

  <div class="imgCon">
    <%images.forEach(function(el){%>
      <div class="imgBox">
        <div class="img"><img src="<%=el.src%>" alt=""></div>
        <div class="title"><%=el.name%></div>
      </div>
    <%})%>
  </div>

  <div class="imgPreview">
    <img src="" alt="" title="">
  </div>

  <script src="/javascripts/visual.js"></script>
  </body>
</html>
