<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/visual.css' />
  </head>
  <body>

  <div class="imgCon">
    <%images.forEach(function(el){%>
      <div class="imgBox">
        <img src="<%=el.src%>" alt="">
        <div class="title"><%=el.name%></div>
      </div>
    <%})%>
  </div>

  <div class="imgPreview">
    <img src="" alt="">
  </div>

  <script src="/javascripts/visual.js"></script>
  </body>
</html>
