<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/visual.css' />
  </head>
  <body>

  <div class="imgCon">
    <%images.forEach(function(el){%>
      <div class="imgBox">
        <img src="<%=el%>" alt="">
      </div>
    <%})%>
  </div>

  </body>
</html>
