@font-face {font-family: 'MoolBoran';
    src: url('../fonts/MoolBoran.eot'); /* IE9*/
    src: url('../fonts/MoolBoran.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MoolBoran.woff') format('woff'), /* chrome、firefox */
    url('../fonts/MoolBoran.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/MoolBoran.svg#MoolBoran') format('svg'); /* iOS 4.1- */
}

html,body{
	width: 100%;
	height: 100%;
}


header{
	height: 717px;
	text-align: center;
	background-color: #fff;
	background-image: url('/images/header_bg.png');
	background-image: -webkit-image-set( url('/images/header_bg.png') 1x, url('/images/header_bg@2x.png') 2x );
	background-position: center 0; 
	background-repeat: no-repeat;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transform-origin:50% 0;
	transform-origin:50% 0;
}

header > img{
	width: 139px;
	height: 253px;
	margin-top: 90px;
}

header h1{
	color: #1ab56e;
    font-family:"MoolBoran" !important;
    font-size: 120px;
    font-weight: normal;
    line-height: 120px;
    margin-top: 20px;
    -webkit-user-select:none;
    user-select:none;
}

header  button{
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

header button p{
	font-size: 20px;
	line-height: 60px;
	color: #1ab56e;
}

.content{
	z-index: 250;
	margin-top: 717px;
	overflow: hidden;
	background-color: #1ab56e;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: calc(100% - 717px);
}

.content .inner{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.content .searchBox{
	height: 38px;
	width: 100%;
	margin: 20px 0;
	display: flex;
	height: 38px;

}


.content .searchBox input[type=search]{
	flex:1;
	height: 100%;
	font-size: 18px;
	padding-left: 19px;
	border-radius: 6px;
}

.content .searchBox button{
	height: 38px;
	width: 100px;
	background-color: #19c777;
	border: none;
	color: #fff;
	font-size: 18px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: none;
}
.content .searchBox button:active{
	background-color: #ffffff;
	color: #1ab56e;
}

.content h2{
	color: #fff;
	height: 67px;
	line-height: 67px;
	padding-left: 10px;
}

.projectList li{
	border: 2px solid #ffffff;
	border-radius: 6px;
	height: 156px;
	padding: 20px;
	margin-bottom: 28px;

	-webkit-user-select:none;
	user-select:none;
	cursor: pointer;
	display: flex;
	background-color: #1ab56e;
	color: #fff;

	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	background-image: url('/images/list_bg.png');
	background-image: -webkit-image-set( url('/images/list_bg.png') 1x, url('/images/list_bg@2x.png') 2x );

}

.projectList li:hover{
	background-color: #18a564;
}

.projectList li:active{
	background-position: 0 -160px;
	background-color: #fff;
	color: #1ab56e;
}

.projectList li .desc{
	width: 380px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.projectList li .desc h3{
	display: inline-block;
	font-size: 40px;
	margin-bottom: 30px;
}

.projectList li .desc span{
	display: inline-block;
	font-size: 18px;
}

.projectList li .desc p{
	font-size: 24px;
}

.projectList li .links{
	flex:1;
	display: flex;
	margin-right: 90px;
}

.projectList li .links a{
	margin: auto;
	display: block;
	background-color: #19c777;
	color: #fff;
	width: 88px;
	height: 88px;
	border-radius: 88px;
	text-align: center;
	line-height: 88px;
	font-size: 20px;
}

.projectList li .links a:active{
	background-color: #ffffff;
	color: #1ab56e;
}


