
html,body{
	width: 100%;
	height: 100%;
}

header{
	height: 700px;
	text-align: center;
	background-color: #fff;
	background-image: url('/images/header_bg.png');
	background-image: -webkit-image-set( url('/images/header_bg.png') 1x, url('/images/header_bg@2x.png') 2x );
	background-position: center 0; 
	background-repeat: no-repeat;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transform-origin:50% 0;
	transform-origin:50% 0;
}

header > img{
	width: 139px;
	height: 253px;
	margin-top: 30px;
}

header h1{
	color: #1ab56e;
    font-family:"MoolBoran" !important;
    font-size: 120px;
    font-weight: normal;
    line-height: 120px;
    -webkit-user-select:none;
    user-select:none;
}
header .addBox{
	display: -webkit-flex;
	display: flex;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

header .addBox .btnBox {
	margin: auto;
}

header .addBox.open .btnBox {
	margin: 0 40px 0 0; 
}

header .addBox .btnBox > button{
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}

header .addBox .btnBox > button p{
	font-size: 20px;
	line-height: 60px;
	color: #1ab56e;
}

header .formBox{
	-webkit-flex:1;
	flex:1;
	display: none;
}

header .formBox ul{
	position: relative;
	border: 2px solid #1ab56e;
	background-color: #ffffff;
	height: 176px;
	border-radius: 10px;

	padding: 6px 22px;
	
	font-size: 16px;
	text-align: left;

	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	font-size: 16px;
	vertical-align: middle;
}

header .addBox.open .formBox{
	display: block;
}

header .formBox ul:after, header .formBox ul:before {
	right: 100%;
	top: 26%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

header .formBox ul:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #ffffff;
	border-width: 15px;
	margin-top: -15px;
}

header .formBox ul:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #1ab56e;
	border-width: 18px;
	margin-top: -18px;
}

header .formBox li {
	display: -webkit-flex;
	display: flex;
}

header .formBox li span{
	display: inline-block;
	color: #1ab56e;
	vertical-align: middle;
	-webkit-user-select:none;
	user-select:none;
}

header .formBox li:first-child {
	height: 50px;
	border-bottom: 1px solid #1ab56e;
}

header .formBox li:first-child span{
	line-height: 50px;
}

header .formBox li:first-child input{
	font-size: 16px;
	vertical-align: middle;
	-webkit-flex:1;
	flex:1;
}

header .formBox li:nth-child(2) span{
	line-height: 30px;
	vertical-align: top;
}

header .formBox textarea{
	line-height: 30px;
	height: 90px;
	vertical-align: top;
	font-size: 16px;
	-webkit-flex:1;
	flex:1;
}


header .formBox .btns{
	text-align: right;
	margin-top: 22px;
}


header .formBox .btns button{
	width: 130px;
	height: 54px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 20px;
	margin-left: 20px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}


header .formBox .btns button.addProject{
	color: #fff;
	background-color: #19c777;
}

header .formBox .btns button.cancel{
	background-color: #fff;
	border: 2px solid #ff3c25;
	color: #ff3c25;
}


.content{
	z-index: 250;
	margin-top: 700px;
	overflow: hidden;
	background-color: #1ab56e;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;

}

.content .inner{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.content .searchBox{
	height: 38px;
	width: 100%;
	margin: 20px 0;
	display: -webkit-flex;
	display: flex;
	height: 38px;
}

.content .searchBox input[type=search]{
	-webkit-flex:1;
	flex:1;
	height: 100%;
	font-size: 18px;
	padding-left: 19px;
	border-radius: 6px;
}

.content .searchBox button{
	height: 38px;
	width: 100px;
	background-color: #19c777;
	border: none;
	color: #fff;
	font-size: 18px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: none;
}
.content .searchBox button:active{
	background-color: #ffffff;
	color: #1ab56e;
}

.content h2{
	color: #fff;
	height: 67px;
	line-height: 67px;
	padding-left: 10px;
}

.projectList li{
	border: 2px solid #ffffff;
	border-radius: 6px;
	height: 156px;
	padding: 20px;
	margin-bottom: 28px;

	-webkit-user-select:none;
	user-select:none;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	background-color: #1ab56e;
	color: #fff;

	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	background-image: url('/images/list_bg.png');
	background-image: -webkit-image-set( url('/images/list_bg.png') 1x, url('/images/list_bg@2x.png') 2x );
	background-position: right 0;

}

.projectList li:hover{
	background-color: #18a564;
}

.projectList li:active{
	background-position: right -160px;
	background-color: #fff;
	color: #1ab56e;
}

.projectList li .desc{
	width: 38%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.projectList li .desc h3{
	display: inline-block;
	font-size: 40px;
	margin-bottom: 30px;
}

.projectList li .desc span{
	display: inline-block;
	font-size: 18px;
}

.projectList li .desc p{
	font-size: 24px;
}

.projectList li .links{
	-webkit-flex:1;
	flex:1;
	display: -webkit-flex;
	display: flex;
	margin-right: 90px;
}

.projectList li .links a{
	margin: auto;
	display: block;
	background-color: #19c777;
	color: #fff;
	width: 88px;
	height: 88px;
	border-radius: 88px;
	text-align: center;
	line-height: 88px;
	font-size: 20px;
}

.projectList li .links a:hover{
	background-color: #ffffff;
	color: #1ab56e;
}





